
@model PagedList.PagedList<Car.Models.LoaiSP>
@using Car.Models
@using PagedList.Mvc;

@{
    ViewBag.Title = "Quản lý loại";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<div class="card-header">
    <h3 class="float-left"><i class="fas fa-cube"></i> Quản Lý Loại</h3>
    <div class="col-md-6 float-right">
        <a href="@Url.Action("Themloai", "Admin")"  class="btn btn-red float-right"><i class="fas fa-plus"></i> Thêm mới</a>
      
        <div class="col-md-7 float-right">
            @using (Html.BeginForm("QLLoai", "Admin", FormMethod.Post))
            {
                <form class="d-none d-md-inline-block form-inline ml-auto mr-0 mr-md-3 my-2 my-md-0">
                    <div class="input-group">
                        <input type="text" class="form-control" name="search" placeholder="Search for..." aria-label="Search" aria-describedby="basic-addon2">
                        <div class="input-group-append">
                            <button class="btn btn-blue" type="submit">
                                <i class="fas fa-search"></i>
                            </button>
                        </div>
                    </div>
                </form>
            }
        </div>
    </div>
</div>
<div class="card-body">
    <div class="table-responsive">
        <table class="table table-bordered" id="dataTable" cellspacing="0">
            <thead>
                <tr>
                    <th width="10%"><i class="fas fa-barcode"></i> Mã loại</th>
                    <th><i class="fas fa-cube"></i> Tên loại</th>
                    <th width="10%"><i class="fas fa-cogs"></i> Chức năng</th>
                </tr>
            </thead>

            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.MaLoai)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.TenLoai)
                        </td>
                        <td class="function">
                            <a href="@Url.Action("Sualoai","Admin", new { id = item.MaLoai })" class="btn btn-blue"><i class="far fa-edit"></i></a>
                            <a href="@Url.Action("Xoaloai","Admin", new { id = item.MaLoai })" class="btn btn-red"><i class="far fa-trash-alt"></i></a>
                        </td>
                    </tr>
                }

            </tbody>
        </table>
        <div class="float-right">
            <ul class="pagination">
                
                @while (Model.PageCount > Model.PageNumber)
                {
                <li class="page-item disabled">
                    <span class="page-link">Previous</span>
                </li>
                    <li class="page-item">
                        <a class="page-link" href="@Url.Action("QLLoai","Admin",new { page = Model.PageNumber})">@Model.PageNumber</a>
                    </li>
                    <li class="page-item">
                        <a class="page-link" href="#">Next</a>
                    </li>

                }
                
            </ul>
        </div>
        Trang @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber)/@Model.PageCount

        @Html.PagedListPager(Model, page => Url.Action("QLLoai", "Admin", new { page = page }), PagedListRenderOptions.PageNumbersOnly)

    </div>
</div>