@model Car.Models.QuangCao
@{
    ViewBag.Title = "Sửa quảng cáo";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<div class="card-header">
    <h3 class="float-left" style="color:blue"><i class="fas fa-edit"></i> Sửa Quảng cáo</h3>
</div>
<div class="card-body">
    <div class="table-responsive">

        @using (Html.BeginForm("SuaQC", "Admin", FormMethod.Post, new { @class = "form-horizontal" }))
        {
            @Html.AntiForgeryToken()
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            @Html.HiddenFor(model => model.ID)
            <div class="col-md-12">
                <div class="form-group">
                    <div class="col-md-4 float-left">
                        <i class="fas fa-user"></i>
                        @Html.LabelFor(model => model.TenQC, htmlAttributes: new { @class = "control-label" })
                    </div>
                    <div class="col-md-8 float-right">
                        @Html.EditorFor(model => model.TenQC, new { htmlAttributes = new { @class = "form-control", @type = "password" } })
                        @Html.ValidationMessageFor(model => model.TenQC, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-4 float-left">
                        <i class="fas fa-building"></i>
                        @Html.LabelFor(model => model.IDNCC, htmlAttributes: new { @class = "control-label" })
                    </div>
                    <div class="col-md-8 float-right">
                        @Html.DropDownList("IDNCC", null, new { @class = "btn btn-default dropdown-toggle" })
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-4 float-left">
                        <i class="fas fa-image"></i>
                        @Html.LabelFor(model => model.img, htmlAttributes: new { @class = "control-label" })
                    </div>
                    <div class="col-md-8 float-right">
                        <input type="file" name="fileupload" class="form-control" />
                        @ViewBag.Thongbao
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-4 float-left">
                        <i class="fas fa-sitemap"></i>
                        @Html.LabelFor(model => model.url, htmlAttributes: new { @class = "control-label" })
                    </div>
                    <div class="col-md-8 float-right">
                        @Html.EditorFor(model => model.url, new { htmlAttributes = new { @class = "form-control", @type = "email" } })
                        @Html.ValidationMessageFor(model => model.url, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class=" col-md-12 float-left">
                    <button type="submit" class="btn btn-blue float-right"><i class="fas fa-edit"></i> Sửa</button>
                    <a href="@Url.Action("QuangCao","Admin")" class="btn btn-secondary"><i class="fas fa-arrow-left"></i> Trở lại</a>
                </div>
            </div>
        }
    </div>
</div>